RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA] 
AddType application/octet-stream .avi .mpg .mov .xls .mp4 .txt
Header set Access-Control-Allow-Origin '*'
